
.caption_med{
    font-size: 20px;
    line-height: 16px;
    color: #8993A4;
    text-align: left;
}

.caption_med1{
    /* font-size: 18px; */
    line-height: 40px;
    font-weight: 700;
    display: block;
    text-align: left;
}

.caption_med2{
    text-align: left;
}

B_image{
    
}